<div class="row">
 <%= form_for @ordenaccesointerconexion do |f| %>
   <div>

      <% if @ordenaccesointerconexion.errors.any? %>
        <div id="error_explanation">
          <h2>El Asiento no puede ser grabado </h2>

          <ul>
          <% @ordenaccesointerconexion.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <div class="panel panel-default">
          <div class="panel-heading">La Orden de Acceso a Interconexión</div>
            <div class="panel-body">
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.label :fecha_vigencia, "Fecha Vigencia" %>
                    <%= f.date_field :fecha_vigencia, class: 'form-control' %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label "Nota" %>
                    <%= f.text_area :nota, :rows=>"3"%>
                  </div>
                </div>
              </div>
            </div>
          </div>

      <%= f.fields_for(:asiento) do |asiento_f| %>
        <% render partial: 'shared/asiento', :locals => {:asiento_f => asiento_f, :clase => "orden_acceso_interconexion"} %>
      <% end %>

          <div class="panel panel-default">
            <div class="panel-heading">Operadores</div>
              <div class="panel-body">
                  <% f.object.operadores_orden_acceso_interconexions.each do |operador| %>
                    <%= f.fields_for "operadores_orden_acceso_interconexions", operador  do |builder| %>
                      <%= render partial: 'operadores_orden_acceso_interconexions', :locals => {:f => builder, :clase=> "operadores_orden_acceso_interconexions"} %>
                    <% end %>
                  <% end %>
            </div>
          </div>
          <div>
            <p><%= link_to_add_fields "Agregar Operador", f, :operadores_orden_acceso_interconexions %> </p>
          </div>

          <div class="col-md-1 col-md-offset-7">
            <div class="form-group">
              <%= link_to 'Regresar', asientos_path %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <% if action_name != 'show' %>
                <%= f.submit 'Guardar cambios', class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
     </div>
  <% end %>
</div>
