<div class="row">
 <%= form_for @acuerdo_acceso_interconexion do |f| %>
   <div>

      <% if @acuerdo_acceso_interconexion.errors.any? %>
        <div id="error_explanation">
          <h2>El Asiento no puede ser grabado </h2>

          <ul>
          <% @acuerdo_acceso_interconexion.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <div class="panel panel-default">
          <div class="panel-heading">El Acuerdo Acceso Interconexión</div>
            <div class="panel-body">
                <div class="col-md-3">
                  <div class="form-group">
                    <%=  f.label :titulo_acuerdo, "Titulo Acuerdo" %>
                    <%=  f.text_field :titulo_acuerdo, class: 'form-control' %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <%=  f.label :fecha_validez_acuerdo, "Fecha Validez Acuerdo" %>
                    <%=  f.date_field :fecha_validez_acuerdo, class: 'form-control'%>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group" style="display:inline">
                    <%=  f.check_box :anexos %>Anexos? 
                    <%=  f.check_box :adendas %>Adendas?
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.label :nota, "Nota" %>
                    <%= f.text_area :nota, :rows=>"3" %>
                  </div>
                </div>
            </div>
        </div>

          <%= f.fields_for(:asiento) do |asiento_f| %>
            <% render partial: 'shared/asiento', :locals => {:asiento_f => asiento_f, :clase => "acuerdo_acceso_interconexion"} %>
          <% end %>

          <div class="panel panel-default">
            <div class="panel-heading">Operadores</div>
              <div class="panel-body">
                  <% f.object.operadores_acuerdo_acceso_interconexions.each do |operador| %>
                    <%= f.fields_for "operadores_acuerdo_acceso_interconexions", operador  do |builder| %>
                      <%= render partial: 'operadores_acuerdo_acceso_interconexions', :locals => {:f => builder, :clase=> "operadores_acuerdo_acceso_interconexions"} %>
                    <% end %>
                  <% end %>
            </div>
          </div>
          <div>
            <p><%= link_to_add_fields "Agregar Operador", f, :operadores_acuerdo_acceso_interconexions %> </p>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Servicios de Interconexión</div>
              <div class="panel-body">
                  <% f.object.servicios_interconexion.each do |operador| %>
                    <%= f.fields_for "servicios_interconexion", operador  do |builder| %>
                      <%= render partial: 'servicios_interconexion', :locals => {:f => builder, :clase=> "servicios_interconexion"} %>
                    <% end %>
                  <% end %>
          <div>
            <p><%= link_to_add_fields "Agregar Operador", f, :servicios_interconexion %> </p>
          </div>
            </div>
          </div>

          <div class="col-md-1 col-md-offset-8">
            <div class="form-group">
              <%= link_to 'Regresar', asientos_path %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <% if action_name != 'show' %>
                <%= f.submit 'Guardar cambios', class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
   </div>
  <% end %>
</div>
