<div class="row">
<div class="col-xs-6 col-md-4">
  <div class="form-group">
    <%=  f.label "Descripción Servicio" %>
    <%=  f.collection_select(:sci_servicios_id, @servicios, :id, :descripcion) unless @servicios.nil?%>
    <%=  f.text_field :servicio, class: 'form-control', placeholder: 'si no aparece en la lista, digitelo aquí'%>
  </div>
  <div class="form-group">
    <%=  f.label "Modalidad" %>
    <%=  f.text_field :modalidad, class: 'form-control', :placeholder=>"ej. post-pago, pre-pago, etc."%>
  </div>
</div>
<div id="precio_tarifa">
  <div class="col-xs-6 col-md-4">
    <div class="form-group">
      <%=  f.label "Tipo Precio Tarifa" %>
      <%=  f.collection_select :tipo_precio_tarifa, PreciosTarifa::TIPO_PRECIO_TARIFA, :value, :label, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%=  f.label "Fecha Vigencia" %>
      <%=  f.date_field :fecha_vigencia, class: 'form-control'%>
    </div>
    <div class="form-group">
      <%=  f.label "Estado" %>
      <%=  f.collection_select :estado, PreciosTarifa::TIPO_ESTADO, :value, :label, class: 'form-control' %>
    </div>
  </div>
  <div class="col-xs-6 col-md-4">
    <div class="form-group">
      <%=  f.label "Precio-Tarifa" %>
      <%=  f.number_field :precio_tarifa, class: 'form-control', :step => 0.00000001%>
    </div>
  </div>
</div>
</div>

