<div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= f.collection_select :tipo_zona, Zona::TIPOS_ZONAS, :value, :label,  class: 'form-control'%>
          </div>
          <div class="form-group">
            <%=  f.text_field :descripcion_zona, :placeholder => "Descripción Zona", class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%=  f.collection_select :provincia, Prov.order(:provincia), :id, :provincia, {:prompt=>"Seleccione Provincia"}, :onchange => "cantones_list(this);", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%=  f.grouped_collection_select :canton, Prov.order(:provincia), :cantons, :provincia, :id, :canton, {:prompt=>"Seleccione Cantón"}, :onchange => "distritos_list(this);", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%=  f.grouped_collection_select :distrito, Canton.order(:canton), :distritos, :canton, :id, :distrito, {:prompt=>"Seleccione Distrito"}, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%=  f.label "Nota" %>
            <%= f.text_area :nota, :rows=>"3"%>
          </div>
        </div>
  </div>
