<div class="row">
 <%= form_for @convenio_internacional do |f| %>
   <div>

      <% if @convenio_internacional.errors.any? %>
        <div id="error_explanation">
          <h2>El Asiento no puede ser grabado </h2>

          <ul>
          <% @convenio_internacional.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <div class="panel panel-default">
          <div class="panel-heading">El Convenio Internacional</div>
            <div class="panel-body">
                <div class="col-md-2">
                  <div class="form-group">
                    <%= f.label :titulo_convenio, "Titulo Convenio" %>
                    <%= f.text_field :titulo_convenio, class: 'form-control'%>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <%= f.label :fecha_vigencia, "Fecha Vigencia" %>
                    <%= f.date_field :fecha_vigencia, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :numero_ley_aprobacion, "Número de Ley Aprobación" %>
                    <%= f.text_field :numero_ley_aprobacion, class: 'form-control'%>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :enmiendas, "Enmiendas" %>
                    <%= f.text_area :enmiendas, :rows=>"3"%>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <%= f.fields_for(:asiento) do |asiento_f| %>
            <% render partial: 'shared/asiento', :locals => {:asiento_f => asiento_f, :clase => "convenio_internacional"} %>
          <% end %>

          <div class="col-md-1 col-md-offset-7">
            <div class="form-group">
              <%= link_to 'Regresar', asientos_path %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <% if action_name != 'show' %>
                <%= f.submit 'Guardar cambios', class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
   </div>
  <% end %>
</div>
