<div class="row">
  <div class="col-md-2">
    <div class="form-group">
        <%=  f.hidden_field :id %>
        <%=  f.label :seleccionar_servicio %>
        <%=  f.collection_select(:sci_servicios_id, @servicios, :id, :descripcion) unless @servicios.nil?%>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
        <%=  f.label "ó podes incluir el servicio aquí" %>
        <%=  f.text_field :servicio, class: 'form-control', :placeholder =>"usar esta casilla si no encontrás el servicio en la lista" %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <%=  f.label "Precio" %>
      <%=  f.number_field :precio, class: 'form-control', :step => 0.00000000001 %>
    </div>
  </div>
</div>
