<div class="panel panel-default">
  <div class="panel-heading">Clasificación de Uso del Espectro</div>
    <div class="panel-body">
      <div class="col-md-4">
        <div class="form-group">
          <%=  f.collection_select :clasificacion_uso_espectro, Espectro::CLASIFICACION_USO, :value, :label,  class: 'form-control'%>
        </div>
      </div>
     </div>
   </div>
</div>

   <%= f.fields_for :titulo_habilitante, @concesiondirect.espectro.titulo_habilitante do |builder| %>
        <%= f.fields_for :asiento, @concesiondirect.espectro.titulo_habilitante.asiento do |builder| %>
            <%= render partial: 'shared/asiento', :locals => {:asiento_f => builder, :clase => "concesion_direct"} %>
        <% end %>
        <%= render partial: 'shared/titulo_habilitante', :locals => {:f => builder, :clase => "concesion_direct", :objeto => @concesiondirect.espectro} %>
    <% end %> 

