<div class="row">
 <%= form_for @homologacion do |f| %>
 <div>

      <% if @homologacion.errors.any? %>
        <div id="error_explanation">
          <h2>El Asiento no puede ser grabado </h2>

          <ul>
          <% @homologacion.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <div class="panel panel-default">
          <div class="panel-heading">Homologación de Equipos</div>
            <div class="panel-body">
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.label :numero_oficio_remision, "Numero Oficio Remisión" %>
                    <%= f.text_field :numero_oficio_remision, class: 'form-control'%>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.label :fecha_actualizacion, "Fecha Actualización" %>
                    <%=  f.date_field :fecha_actualizacion, class: 'form-control' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.label :nota, "Lista (Link)" %>
                    <%=  f.text_area :nota, :rows => 6 %>
                  </div>
                </div>
              </div>
            </div>
          </div>

      <%= f.fields_for(:asiento) do |asiento_f| %>
        <% render partial: 'shared/asiento', :locals => {:asiento_f => asiento_f, :clase => "homologacion"} %>
      <% end %>



          <div class="col-md-1 col-md-offset-7">
            <div class="form-group">
              <%= link_to 'Regresar', asientos_path %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <% if action_name != 'show' %>
                <%= f.submit 'Guardar cambios', class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
   </div>
  <% end %>
</div>
